### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Archivos comprimidos de todo tipo
*.zip
*.tar
*.gz
*.bz2
*.xz
*.7z
*.rar

# Directorios de construcción y caché
dist/
build/
.cache/
.out/

# Archivos de entorno y configuración sensible
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de logs
logs/
*.log