body{
  background-color: rgb(237, 237, 237) !important;
  width: 98.7vw;
  margin: 0;
}

.font-small {
  font-size: x-small;
}

.bg-yellow {
  background-color: yellow;
}
.bg-red {
  background-color: red;
}

.img-small{
    width: 20px;
}

.img-shadow{
  filter: drop-shadow(5px 3px 1px black);
}

.img-top{
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 3px 3px 0 0;
}

.card-size-col{
  height: 370px;
  display: block;
}

.sw-rounded{
  padding: 10px;
  border-radius: 10px;
}