.inp-grid {
    padding: 0; /* Elimina el padding que puede afectar el centrado */
    text-align: center;
    line-height: normal; /* Restablece la altura de línea */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px; /* Asegura una altura definida */
}

/* Fuente en BOLD */
.f-bold{
    font-weight: 800;
}